/*
  固定宽高水平垂直居中
  @param {String} $width 元素宽度
  @param {String} $height 元素高度
*/
@mixin hasWidthAlign($width, $height) {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -($width / 2);
  margin-top: -($height / 2);
}

// 位置宽高水平垂直居中
@mixin noWidthAlign {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


// flex布局，默认水平垂直居中
@mixin alignByFlex {
  display: flex;
  justify-content: center;
  align-items: center;;
}

// flex布局，垂直方向水平垂直居中
@mixin colAlignByFlex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

// 清除浮动
@mixin clearfix {
  &::after {
    content: '';
    display: block;
    clear: both;
    height: 0;
    line-height: 0;
    overflow: hidden;
  }
}

// 超过宽度的文字显示省略号
@mixin ell {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

// 设置行内块级元素
@mixin dib {
  display: inline-block;
}

/*
  设置最小高度
  @param {String} $min-height
*/
@mixin minHeight($min-height) {
  min-height: $min-height
}

